<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.atguigu.gmall.manage.mapper.SpuSaleAttrMapper">

    <resultMap id="spuSaleAttrMap" type="com.atguigu.gmall.bean.SpuSaleAttr" autoMapping="true">
        <id property="id" column="id"></id>
        <collection property="spuSaleAttrValueList" ofType="com.atguigu.gmall.bean.SpuSaleAttrValue" autoMapping="true">
            <id property="id" column="sale_attr_value_id"></id>
        </collection>
    </resultMap>

    <select id="getSpuSaleAttrList" resultMap="spuSaleAttrMap">
        SELECT ssa.id ,
        ssa.spu_id,
        ssa.sale_attr_name,
        ssa.sale_attr_id,
        ssav.id sale_attr_value_id,
        ssav.sale_attr_value_name
        FROM `spu_sale_attr` AS ssa INNER JOIN `spu_sale_attr_value` AS ssav
        ON ssa.spu_id = ssav.spu_id AND ssa.sale_attr_id = ssav.sale_attr_id
        WHERE ssa.spu_id = #{0};
    </select>
</mapper>